

body{
    background-image: linear-gradient(to right, rgb(248, 194, 255) , rgb(255, 255, 198));
    font-family: 'Satisfy', cursive;
    font-size: 30px;

}

.btn{
    background: pink;
    font-size: 12px;
}

.add-btn{
    background: lightblue;
    width: 70px;
    height: 40px;
    font-weight: bold;
    text-align: relative;
    margin: 10px;
}
.app-title{
    text-align: center;
    color: lightblue;
    padding: 10;
    font-size: 60px;
    text-shadow: 2px 2px #001aff;
}
.container{
    border: 35px solid pink;
    border-radius: 35px;

}
.footer {
    width: 100%;
    opacity: 70%;
    font-size: 15px;
    background-color: rgb(159, 242, 253);
    color: rgba(77, 73, 73, 0.76);
    text-align: center;
};
