body{
    background-image: linear-gradient(to right, rgb(248, 194, 255) , rgb(255, 255, 198));
    font-family: 'Satisfy', cursive;
    font-size: 30px;

}

.btn{
    background: pink;
    margin: 20px;
    font-size: 12px;
}

.add-btn{
    background: lightblue;
    width: 70px;
    height: 40px;
    font-weight: bold;
    text-align: relative;
    margin: 20px;
}
.app-title{
    text-align: center;
    color: lightblue;
    font-size: 70px;
    text-shadow: 2px 2px #001aff;
}
.container{
    border: 35px solid pink;
    border-radius: 35px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 15px;
    height: 10%;
    width: 100%;
    background-color: rgb(159, 242, 253);
    color: rgba(77, 73, 73, 0.76);
    text-align: center;
};
